:root {
  --bg: #fefefe;
  --primary: #d81b60;
  --secondary: #4a148c;
  --icon-color: white;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  height: 120vh;
  margin: 0;
  user-select: none;
}

.wraper {
  width: 80%;
  max-width: 800px;
  margin-inline: auto;
}

ul {
  margin-top: 1.5em;
  width: 640px;
  padding: 0;
  list-style: none;
}
.ul1 {
  display: flex;
  column-gap: 5%;
  align-items: center;
  justify-content: center;
}
article {
  cursor: pointer;
}

li {
  cursor: pointer;
}
#doplay {
  color: azure;
  display: inline-block;
  padding: 0.5em 9em;
  background-color: green;
  border-radius: 50px;
  margin-right: 1em;
  transition: 0.3s;
  word-break: keep-all;
}

img {
  width: 100%;
  max-width: 100%;
  height: fit-content;
}

.right {
  transform: rotate(180deg);
}
.arrow {
  width: 50px;
  display: inline-block;
  height: fit-content;
}
// .flex {
//   word-break: keep-all;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   column-gap: 20px;
//   padding-left: 30px;
//   & li {
//     display: flex;
//     align-items: center;
//     column-gap: 5%;
//     word-break: keep-all;
//     width: fit-content;
//     padding: 6px 50px;
//     border-radius: 20px;
//     flex-direction: row;
//     align-items: center;
//   }
// }
.imglist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.pbottom {
  width: 100%;
  position: relative;
  margin: 0;
  & li:nth-child(1) {
    position: absolute;
    bottom: -20px;
    right: 270px;
  }
  & li:nth-child(2) {
    position: absolute;
    bottom: -20px;
    right: 30px;
  }
}
